body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.marginContainer {
    max-width: 80%;
    margin: auto;
    background-color: #DBCECE;
}

.containerNav {
    display: flex;
    min-height: 70px;
}

.nav {
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;
    justify-content: space-around;
}

.textPosition {
    margin: auto 0;
}

.centerNav {
    display: flex;
}

.rightNav {
    display: flex;
}

.mainLink {
    margin: 0;
}

.firstLink {
    margin: 0 0 10px 10px;
}

.secondLink {
    margin: 0 0 0 10px;
}

.anchorLink {
    color: black;
    text-decoration: none;
}

.anchorLink:hover {
    color: black;
    text-decoration: underline;
}

.iconBack {
    margin-left: 20px;
}

.titleMain {
    text-align: center;
}

.svgLogo {
    height: 70px;
    width: 140px;
    margin-left: -100px;
}