body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.marginContainer {
    max-width: 80%;
    margin: auto;
    background-color: #DBCECE;
}

.containerNav {
    display: flex;
    min-height: 70px;
}

.nav {
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 0 10px;
    justify-content: space-around;
}

.textPosition {
    margin: auto 0;
}

.centerNav {
    display: flex;
}

.rightNav {
    display: flex;
}

.mainLink {
    margin: 0;
}

.firstLink {
    margin: 0 0 10px 10px;
}

.secondLink {
    margin: 0 0 0 10px;
}

.anchorLink {
    color: black;
    text-decoration: none;
}

.anchorLink:hover {
    color: black;
    text-decoration: underline;
}

.createProduct {
    text-align: end;
    margin: 0 10px;
    padding: 60px 0 20px 0;
}

.btnCreate {
    border: 1px solid black!important;
}

.btnCreate:focus {
    box-shadow: none;
}

.noPadding {
    padding: 0!important;
}

.noPadding:focus {
    box-shadow: none;
}

.btnTable {
    text-decoration: none;
    color: black;
}

.btnTable:hover {
    text-decoration: underline;
    color: black;
}

.svgLogo {
    height: 70px;
    width: 140px;
    margin-left: -100px;
}